.ordersArea {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.grid {
	position: relative;
	margin-top: 20px;
	display: grid;
	grid-template-areas: "l r";
	grid-template-columns: 1fr 3fr;
	gap: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.control {
	grid-area: l;
	padding: 10px;
	border-radius: 10px;
	background-color: #f7f7f7;
}

.ordersArea {
	padding: 10px;
	grid-area: r;
	border-radius: 10px;
	background-color: #f7f7f7;
}

.controlItem {
	display: flex;
	flex-direction: column;
}

.controlItem span {
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 7px;
	margin-left: 10px;
}

.controlItem input {
	padding: 10px;
	font-family: "Roboto";
	outline: none;
	font-size: 17px;
	border: none;
	border-radius: 10px;
	height: 30px;
}
